@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome  On ITI </h1>
    <p>Learn about <a href="https://github.com/SamyMo7amed">My Github because It is the project at  course </a>.</p>
</div>
